<?xml version="1.0"?>
<configuration>
  
    <connectionStrings>
      <add name="connstr" connectionString="Data Source=madhu;Initial Catalog=YesandYes;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key ="ErrorLog" value ="H:\Projects\YesAndYes\YesAndYes\ErrorLog.txt"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
