<?xml version="1.0"?>
<configuration>
  
    <!--<connectionStrings>
      <add name="connstr" connectionString="Data Source=madhu;Initial Catalog=YesandYes;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>-->

  <connectionStrings>
    <add name="connstr" providerName="System.Data.SqlClient" connectionString="User Id=sa;Password=admin@123;Initial Catalog=CMMS;Data Source=localhost"/>
    <!--<add name="connstr" connectionString="Data Source=madhu;Initial Catalog=YesandYes;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <appSettings>
    <add key ="ErrorLog" value ="D:\Building Constraction\ErrorLog.txt"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
